@(userForm: Form[models.Shop], user: String)

@import helper._
@import helper.twitterBootstrap._

@title = {
Add Shop
}

@main(title,nav="addShop") {


@*@if(session.get("email")==null){

<div class="alert alert-danger"><p><strong>Warning!</strong>&nbsp;To add a shop please login first.</p>  </div>
}else{*@

 @if(flash.size() > 0){
      <div class="alert-alert error">
          @for((key, value) <- flash){
              <strong>Error : </strong> @value<br />
          }
      </div> 
  }




<fieldset>
    <legend>Add a new shop</legend>
     <p>To add a shop to this website fill in the form given below.Add as much information about your shop so the customer may know abot your shop more.</p>


@form(action = routes.ShopController.submit(), 'id -> "shopCreationForm", 'class -> "form-horizontal", 'role->"form") {
@*
<div class="form-group">
    <label >Shop Name:</label>
    <input type="text" class="form-control" >
  </div><div class="form-group">
    <label >Address Line 1:</label>
    <input type="text" class="form-control" >
  </div><div class="form-group">
    <label >Address Line 2:</label>
    <input type="text" class="form-control" >
  </div><div class="form-group">
    <label >Address Line 3:</label>
    <input type="text" class="form-control" >
  </div><div class="form-group">
    <label >City:</label>
    <input type="text" class="form-control" >
  </div><div class="form-group">
    <label >Town:</label>
    <input type="text" class="form-control" >
  </div>
 <div class="form-group">
    <label >Phone:</label>
    <input type="text" class="form-control" >
  </div>

<div class="form-group">
    <label for="exampleInputEmail1">Owner Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  value="@user" placeholder="@user" readonly>
  </div>
*@

<div class="form-group">
@inputText(userForm("name"), '_label -> "Shop Name",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("addressLine1"), '_label -> "Address Line 1",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("addressLine2"), '_label -> "Address Line 2",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("addressLine3"), '_label -> "Address Line 3",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("city"), '_label -> "City",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("town"), '_label -> "Town",'class -> "form-control")</div>
<div class="form-group">
@inputText(userForm("phoneNumber"), '_label -> "Phone",'class -> "form-control")</div>

<div class="form-group">
    <label for="exampleInputEmail1">Owner Email</label>
    <input type="email" name="owner.email" class="form-control" id="exampleInputEmail1" value="@user" placeholder="@user" readonly>
  </div>




@*
<div class="form-group">
@inputText(userForm("owner.email"), '_label -> "Owner Email" ,'_id -> "createdOn",'_value -> user,'class -> "form-control",'value -> user,'readonly->"readonly",'placeholder ->user )
</div>



 
 @select(
    userForm("owner.email"),
    options = helper.options(user),
    'class -> "form-control",
    '_default -> "--- Choose an owner ---",
    '_label -> "Select Owner",
    '_error -> userForm("owner").error.map(_.withMessage("Please select an owner"))
)
*@

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Create">
        <a href="@routes.ApplicationController.index" class="btn">Cancel</a>
    </div>


</fieldset>
        }
        }