@(userForm: Form[models.Shop], users:Map[String, String] )

@import helper._
@import helper.twitterBootstrap._

@main(Html("Create Shop")) {

<h2>Add a new shop</h2>

@form(action = routes.ShopController.submit(), 'id -> "shopCreationForm") {

@inputText(userForm("name"), '_label -> "Shop Name")
@inputText(userForm("addressLine1"), '_label -> "Address Line 1")
@inputText(userForm("addressLine2"), '_label -> "Address Line 2")
@inputText(userForm("addressLine3"), '_label -> "Address Line 3")
@inputText(userForm("city"), '_label -> "City")
@inputText(userForm("town"), '_label -> "Town")
@inputText(userForm("phoneNumber"), '_label -> "Phone")
@select(
    userForm("owner.email"),
    options = helper.options(users),
    '_default -> "--- Choose an owner ---",
    '_label -> "Select Owner",
    '_error -> userForm("owner").error.map(_.withMessage("Please select an owner"))
)

<input type="submit" value="Create">

}


   }