

@import helper._
@import helper.twitterBootstrap._
@title = {
Category
}

@main(title,nav="category") {
<fieldset>



    <legend><h2>Category</h2></legend>
    <dl><a href="@routes.SearchController.searchByCategory("antique shop")">
        <dt>antique shop</dt></a>
        <dd>a shop that sells valuable old objects</dd>
        </dl>
    <dl><a href="@routes.SearchController.searchByCategory("barbershop")">
        <dt>barbershop</dt></a>
        <dd>a shop where men have their hair cut</dd>
    </dl>

    <dl><a href="@routes.SearchController.searchByCategory("beauty parlour")">
        <dt>beauty parlour</dt></a>
        <dd>a shop where you can get beauty treatments for your skin or hair</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("beauty salon")">
        <dt>beauty salon</dt></a>
        <dd>a beauty parlour</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("big-box store")">
        <dt>big-box store</dt></a>
        <dd>a large shop that sells a lot of different types of goods including food, medicines, and often things such as washing machines</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("bookstore")">
        <dt>bookstore</dt></a>
        <dd>a bookshop</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("bottle shop")">
        <dt>bottle shop</dt></a>
        <dd>a shop that sells alcoholic drinks</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("boutique")">
        <dt>boutique</dt></a>
        <dd>a small fashionable shop, especially one that sells clothes</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("chemist")">
        <dt>chemist</dt></a>
        <dd>a shop that sells medicines, beauty products, and toiletries</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("dairy")">
        <dt>dairy</dt></a>
        <dd>a small local shop</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("department store")">
        <dt>department store</dt></a>
        <dd>a large shop divided into separate sections, each section selling a different type of thing</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("fish and chip shop")">
        <dt>fish and chip shop</dt></a>
        <dd>a shop that sells fish and chips that you usually take somewhere else to eat</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("garage")">
        <dt>garage</dt></a>
        <dd>a place that repairs or sells cars</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("general store")">
        <dt>general store</dt></a>
        <dd>a shop that sells a wide range of products, often found in small communities</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("gift shop")">
        <dt>gift shop</dt></a>
        <dd>a shop selling things that people like to give and receive as presents</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("hardware shop")">
        <dt>hardware shop</dt></a>
        <dd>a shop that sells metal goods and things for your home or garden such as pans, knives, tools, and chemical products</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("hypermarket")">
        <dt>hypermarket</dt></a>
        <dd>a very large supermarket, usually built outside a town, that sells a wide range of goods</dd>
    </dl>
    <dl><a href="@routes.SearchController.searchByCategory("supermarket")">
        <dt>supermarket</dt></a>
        <dd>a very large shop that sells food and other products for the home. You go around the shop pushing a trolley and putting things in it, then you pay for your goods at the checkout.</dd>
    </dl>
   <dl>
<a href="@routes.SearchController.searchByCategory("sweet shop")">
       <dt>sweet shop</dt></a>
       <dd>a shop that sells sweets and chocolate</dd>

   </dl>

</fieldset>
}