

@import helper._
@import helper.twitterBootstrap._
@title = {
Category
}

@main(title,nav="category") {
<fieldset>



    <legend><h2>Category</h2></legend>
    <dl>
        <dt>antique shop</dt>
        <dd>a shop that sells valuable old objects</dd>
        </dl>
    <dl>
        <dt>barbershop</dt>
        <dd>a shop where men have their hair cut</dd>
    </dl>

    <dl>
        <dt>beauty parlour</dt>
        <dd>a shop where you can get beauty treatments for your skin or hair</dd>
    </dl>
    <dl>
        <dt>beauty salon</dt>
        <dd>a beauty parlour</dd>
    </dl>
    <dl>
        <dt>big-box store</dt>
        <dd>a large shop that sells a lot of different types of goods including food, medicines, and often things such as washing machines</dd>
    </dl>
    <dl>
        <dt>bookstore</dt>
        <dd>a bookshop</dd>
    </dl>
    <dl>
        <dt>bottle shop</dt>
        <dd>a shop that sells alcoholic drinks</dd>
    </dl>
    <dl>
        <dt>boutique</dt>
        <dd>a small fashionable shop, especially one that sells clothes</dd>
    </dl>
    <dl>
        <dt>chemist</dt>
        <dd>a shop that sells medicines, beauty products, and toiletries</dd>
    </dl>
    <dl>
        <dt>dairy</dt>
        <dd>a small local shop</dd>
    </dl>
    <dl>
        <dt>department store</dt>
        <dd>a large shop divided into separate sections, each section selling a different type of thing</dd>
    </dl>
    <dl>
        <dt>fish and chip shop</dt>
        <dd>a shop that sells fish and chips that you usually take somewhere else to eat</dd>
    </dl>
    <dl>
        <dt>garage</dt>
        <dd>a place that repairs or sells cars</dd>
    </dl>
    <dl>
        <dt>general store</dt>
        <dd>a shop that sells a wide range of products, often found in small communities</dd>
    </dl>
    <dl>
        <dt>gift shop</dt>
        <dd>a shop selling things that people like to give and receive as presents</dd>
    </dl>
    <dl>
        <dt>hardware shop</dt>
        <dd>a shop that sells metal goods and things for your home or garden such as pans, knives, tools, and chemical products</dd>
    </dl>
    <dl>
        <dt>hypermarket</dt>
        <dd>a very large supermarket, usually built outside a town, that sells a wide range of goods</dd>
    </dl>
    <dl>
        <dt>supermarket</dt>
        <dd>a very large shop that sells food and other products for the home. You go around the shop pushing a trolley and putting things in it, then you pay for your goods at the checkout.</dd>
    </dl>
   <dl>

       <dt>sweet shop</dt>
       <dd>a shop that sells sweets and chocolate</dd>

   </dl>

</fieldset>
}