@(currentPage: com.avaje.ebean.Page[Shop], currentSortBy: String, currentOrder: String, currentFilter: String)


@import helper._
@import helper.twitterBootstrap._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.ShopController.viewAll(newPage, sortBy, order, currentFilter)
    
}


@title = {
View All
}

@main(title,nav="allShop") {




   <legend><h1>Shops</h1></legend> 
 
        @for(allshop <- currentPage.getList) {
        
        @*
     <div class="page-header"> 
      <div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
 <div class="media-body">
      <a href="@routes.ShopController.profile(allshop.id)"> <h2 class="media-heading">@allshop.name</h2> </a>
    <small>@allshop.addressLine1,@allshop.city,@shop.town</small>  
  </div>
</div>
      </div>
     *@       
       <div class="page-header">
          <a href="@routes.ShopController.profileFound(allshop.id)">
  <h2>@allshop.name <small>@allshop.addressLine1,@allshop.city,@allshop.town</small></h2>  </a>
</div>
  }
  <div id="pagination" class="pagination">
           
                @if(currentPage.hasPrev) {
                   <div style="display:inline-block" >
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </div>
                } else {
                   <div style="display:inline-block">
                        <a>&larr; Previous</a>
                 </div>
                }&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="display:inline-block" align="center">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @if(currentPage.hasNext) {
                   <div style="display:inline-block">
                        <a  href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </div>
                } else {
                    <div style="display:inline-block">
                        <a>Next &rarr;</a>
                   </div>
                }
           
        </div>
  
    




        }
       