@(login: Form[viewmodels.Login])

@import helper._
@import helper.twitterBootstrap._
@title = {
Sign In
}

@main(title,nav="signIn") {

@form(action = routes.UserController.authenticate(), 'id -> "userCreationForm", 'class -> "form-horizontal", 'role->"form") {
<fieldset>
    <legend><h1>Sign In</h1></legend>
    
    @if(flash.contains("success")) {
    <p class="bg-success"><h3> @flash.get("success")</h3></p>
       
  
}

<div class="form-group">
    @inputText(login("email"),
    '_label -> "Email Address:",
    'class -> "form-control",
    'placeholder -> "Enter email address.",
    '_error -> login.globalError)
</div>
<div class="form-group">
    @inputPassword(login("password"),
    '_label -> "Password:",
    'class -> "form-control",
    'placeholder -> "Enter password")
    </div>
</fieldset>

   <div class="form-group">
     <input type="submit" class="btn btn-primary" value="Log In">
     <a href="@routes.ApplicationController.index" class="btn">Cancel</a>
   </div>
}

}
