@(products: List[Product], addProductForm: Form[Product],category:String,prod:List[models.Product])

@import helper._
@import helper.twitterBootstrap._

@main(Html("Add Product")) {


<fieldset>
    <legend>Add Product</legend>
  <div class="jumbotron">
      @*
@form(action=routes.ProductController.save(), 'class -> "form-inline", 'role->"form") {

@inputText(addProductForm("name"),'_label -> "Product Name",'class -> "form-inline input-lg")

@inputText(addProductForm("price"),'_label -> "Product Price",'class -> "form-inline input-lg")
 *@
      <form class="form-inline" action="@routes.ProductController.save()" method="post">
      <input type="text" class="form-inline input-lg" placeholder="Enter product name" name="name">
      <input type="text" class="form-inline input-lg" placeholder="Enter product price(Rs.)" name="price">

          <input type="hidden" class="form-inline input-lg"  name="category" value="@category">


      <input type="submit" value="Add" class="btn btn-lg btn-primary">
          </form>
  </div>

    <h3>@prod.size() product(s) added</h3>
    @if(!(prod.size()==0))    {
    <div class="bs-example">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price(Rs.)</th>

            </tr>
            </thead>

            @for(product <- prod) {
            <tbody>
            <tr>
                <td>@product.name</td>
                <td>@product.price</td>

            </tr>

            </tbody>
            }
        </table>
    </div>

     }



    @*
    <ul class="list-group">
        @for(product <- prod) {
        <li>


        <li class="list-group-item" type="none"><a href="@routes.ProductController.delete(product.id)" >14</a></span> @product.name




            @form(routes.ProductController.delete(product.id)) {
            <input type="submit" value="Delete">
            }
        </li>
        }
    </ul>
     *@

</fieldset>
@*}*@

}