@(products: List[Product], addProductForm: Form[Product])

@import helper._
@import helper.twitterBootstrap._

@main(Html("Add Product")) {
 @*
<h1>@products.size() products</h1>

<ul class="list-group">
    @for(product <- products) {
    <li>


            <li class="list-group-item" type="none"><a href="@routes.ProductController.delete(product.id)" >14</a></span> @product.name




       @form(routes.ProductController.delete(product.id)) {
        <input type="submit" value="Delete">
        }
    </li>
    }
</ul>     *@

<fieldset>
    <legend>Add Product</legend>
  <div class="jumbotron">
      @*
@form(action=routes.ProductController.save(), 'class -> "form-inline", 'role->"form") {

@inputText(addProductForm("name"),'_label -> "Product Name",'class -> "form-inline input-lg")

@inputText(addProductForm("price"),'_label -> "Product Price",'class -> "form-inline input-lg")
 *@
      <form class="form-inline" action="@routes.ProductController.save()" method="post">
      <input type="text" class="form-inline input-lg" placeholder="Enter product name" name="name">
      <input type="text" class="form-inline input-lg" placeholder="Enter product price" name="price">




      <input type="submit" value="Add" class="btn btn-lg btn-primary">
          </form>
  </div>
 </fieldset>
@*}*@

}