@( addProductForm: Form[Product],category:String,user_id:Long)


@import helper._
@import helper.twitterBootstrap._

@main(Html("Add Product")) {


<fieldset>
    <legend><h2>Add Product
     <a  class="btn pull-right" href="@routes.ShopController.profile(user_id)">Go to shop</a></h2>
    </legend>
    <div class="jumbotron">

        <form class="form-inline" action="@routes.ProductController.save()" method="post" onsubmit="return validateForm(this);">
            <input type="text" class="form-inline input-lg" placeholder="Enter product name" name="name">
            <input type="text" class="form-inline input-lg" placeholder="Enter product price(Rs.)" name="price">

            <input type="hidden" class="form-inline input-lg"  name="category" value="@category">


            <input type="submit" value="Add" class="btn btn-lg btn-primary">
        </form>
    </div>



</fieldset>
<script type="text/javascript" charset="utf-8">
function validateForm(createProduct) {
var reason = "";

reason += validateProductName(createProduct.name);
reason += validateProductPrice(createProduct.price);


if (reason != "") {
alert("Some fields need correction:\n" + reason);
return false;
}

return true;
}


function validateProductName(fld) {
var error = "";
var illegalChars = /\W/; // allow letters, numbers, and underscores
var letters = /^[A-Za-z]+$/;

if (fld.value == "") {

error = "You didn't enter a Product Name.\n";

}  
return error;
}



function validateProductPrice(fld) {
var error = "";
var stripped = fld.value.replace(/[\(\)\.\-\ ]/g, '');

if (fld.value == "") {
error = "You didn't enter a product price.\n";

} else if (isNaN(parseInt(stripped))) {
error = "The product price field contains illegal characters.\n";

}
return error;
}



</script>




}