@(prod: List[Product],shop_name:String,shop_id:Long)

@import helper._
@import helper.twitterBootstrap._

@main(Html("Show Products")) {


<fieldset>
    <legend>@prod.size() product(s) on  @shop_name
        <a  class="btn pull-right" href="@routes.ProductController.blank()">Add Product</a>
    </legend>



    @if(!(prod.size()==0))    {
    <div class="bs-example">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price(Rs.)</th>

            </tr>
            </thead>

            @for(product <- prod) {
            <tbody>
            <tr>
                <td>@product.name</td>
                <td>@product.price</td>
                <td><a href="@routes.ProductController.delete(product.id)"><button type="button" class="btn btn-default">Delete</button></a></td>
            </tr>

            </tbody>
            }
        </table>
    </div>

    }





</fieldset>

}