@( addProductForm: Form[Product],category:String,user_id:Long)


@import helper._
@import helper.twitterBootstrap._

@main(Html("Add Product")) {


<fieldset>
    <legend><h2>Add Product
     <a  class="btn pull-right" href="@routes.ShopController.profile(user_id)">Go to shop</a></h2>
    </legend>
    <div class="jumbotron">

        <form class="form-inline" action="@routes.ProductController.save()" method="post">
            <input type="text" class="form-inline input-lg" placeholder="Enter product name" name="name">
            <input type="text" class="form-inline input-lg" placeholder="Enter product price(Rs.)" name="price">

            <input type="hidden" class="form-inline input-lg"  name="category" value="@category">


            <input type="submit" value="Add" class="btn btn-lg btn-primary">
        </form>
    </div>



</fieldset>


}