@(result: List[Shop],category:String)

@import helper._

@main(Html("Shop Details")) {
<legend><h2>@result.size shop(s) found having category "@category"</h2></legend>

@for(shop <- result) {
       @* <h2>Shop Details</h2>

        <p><b>Shop Name: </b>@shop.name</p>
        <p><b>Address Line 1: </b>@shop.addressLine1</p>
        <p><b>Address Line 2: </b>@shop.addressLine2</p>
        <p><b>Address Line 3: </b>@shop.addressLine3</p>
        <p><b>City: </b>@shop.city</p>
        <p><b>Town: </b>@shop.town</p>
        <p><b>Phone: </b>@shop.phoneNumber</p>
      <p><b>Owner: </b>@shop.owner.firstName @shop.owner.lastName</p>   *@

<div class="page-header">
    <a href="@routes.ShopController.profileFound(shop.id)">
        <h2>@shop.name <small>@shop.addressLine1,@shop.city,@shop.town</small></h2>  </a>
</div>



    }
}